<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyMMdd-HH:mm:ss,SSS} [%p][%c]  %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="INFO" />
			<param name="levelMax" value="INFO" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="error_file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${webapp.root}/WEB-INF/log/error.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyMMdd-HH:mm:ss,SSS} [%p][%c]  %m%n" />
		</layout>
	</appender>

	<appender name="newsController_file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${webapp.root}/WEB-INF/log/newsController.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyMMdd-HH:mm:ss,SSS} [%p][%t][%c]  %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger
		name="com.team.cmc.interfaces.web.spring.exception.ExceptionController"
		additivity="false">
		<level value="debug" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="error_file" />
	</root>
</log4j:configuration>
